/* 
цвет ховера текста #2196F3
главный цвет текста #212121
вторичный цвет текста #757575
цвет главного заголовка #FFFFFF
вторичный цвет фона #F5F4FA

 */
:root {
  --text-color: #000000;
  --secondary-text-color: #757575;
  --prymery-text-color: #212121;
  --accent-color: #2196f3;
  --pramery-white-color: #ffffff;
  --pramery-footer-text-color: rgba(255, 255, 255, 0.6);
  --backgroundcolor-hero: #2f303a;
  --pramery-footer-color: #2f303a;
  --secondary-backgraund-color: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-color: var(--pramery-white-color);
  color: var(--prymery-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* header */

.logo {
  display: inline-block;
  font-size: 0;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo .color-blu {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo .color-black {
  color: var(--text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* site nav */

.site-nav .link {
  color: var(--prymery-text-color);
  /* display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px; */

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}

.contakt-nav .contakt {
  color: var(--secondary-text-color);
  text-decoration: none;
  /* display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px; */

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contakt-nav .contakt:hover,
.contakt-nav .contakt:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--backgroundcolor-hero);
  text-align: center;
}
.hero .hero-title {
  margin-bottom: 30px;
  color: var(--pramery-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  color: var(--pramery-white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Feature */

.feature-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-list .feature-text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

/* Works */
.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works .works-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Team */

.team {
  background-color: var(--secondary-backgraund-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team .photo-team {
  margin-bottom: 30px;
}

.team .team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team .team-prof {
  color: var(--secondary-text-color);
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */

.footer {
  background-color: var(--pramery-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 0;
}
.footer-logo .color-blu {
  color: var(--accent-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo .color-white {
  color: var(--pramery-white-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.address .address-name {
  color: var(--pramery-white-color);
  margin-bottom: 9px;
  display: inline-block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}
.address .address-mail,
.address-tel {
  color: var(--pramery-footer-text-color);
  margin-bottom: 9px;
  display: inline-block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}
.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}

/* Portfolio */

.portfolio {
  display: inline-block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-button .buttons {
  color: var(--prymery-text-color);
  background-color: var(--secondary-backgraund-color);
  margin-bottom: 34px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
}
.list-button .buttons:hover,
.list-button .buttons:focus {
  color: var(--pramery-white-color);
  background-color: var(--accent-color);
}

.card .img-project {
  margin-bottom: 20px;
}

.card .card-title {
  color: var(--prymery-text-color);
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card .card-text {
  color: var(--secondary-text-color);
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
